<ion-view title="Buy" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="buy-list4">
      <ion-item class="item-thumbnail-left item-icon-right calm" id="buy-list-item7">
        <h2calm>Item
          <i class="icon ion-android-remove-circle"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right calm" id="buy-list-item8">
        <h2calm>Item
          <i class="icon ion-android-remove-circle"></i>
        </h2calm>
      </ion-item>
    </ion-list>
    <a ui-sref="cart()" id="buy-button1" class="button button-positive button-block">Buy</a>
  </ion-content>
</ion-view>