<ion-view title="Calendar" id="page11">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="calendar-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="calendar-slide24" style="background:url(&quot;img/CpHUVUnERWO7XVZ4tA0B_calendar.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="calendar-heading2" style="color:#000000;font-weight:lighter;text-align:center;">Calendar</h1>
        <div id="calendar-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">You can use the calendar of the month to make reminders of purchase or consumption of remedies, to mark the day of a medical appointment schedule among other utilities.</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="width: 320px; height: 192px;"></div>
        <div id="calendar-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">slide for next</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="calendar-slide25" style="background:url(&quot;img/JR9fubeZRLGZPRFPRZaU_howuse.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="calendar-heading3" style="color:#000000;font-weight:lighter;text-align:center;">How it Work</h1>
        <div id="calendar-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Imed Calendario will notify you by mobile phone according to the date and time you registered the reminder</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="calendar-slide26" style="background:url(&quot;img/d1fF80xxSUeMUWfWUxu0_usenow.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="calendar-heading8" style="color:#000000;font-weight:lighter;text-align:center;">Imed Calendar coming soon</h1>
        <div class="spacer" style="width: 320px; height: 349px;"></div>
        <button id="calendar-button20" class="button button-calm button-block icon-left ion-android-done">Calendar Imed Coming Soon</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>