<ion-view title="Cart" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item19">
        <h2>Item</h2>
        <p>Value $10,00</p>
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item23">
        <h2>Item</h2>
        <p>Value $10,00</p>
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="cart-list-item24">
        <h2>Item</h2>
        <p>Value $10,00</p>
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div id="cart-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Total:
        <strong>$30,00</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <form id="cart-form4" class="list">
      <label class="item item-select" id="cart-select1">
        <span class="input-label">Payament Method</span>
        <select>
          <option>Credit Card</option>
          <option>Money</option>
          <option>Pay Online</option>
          <option></option>
        </select>
      </label>
    </form>
    <button id="cart-button18" class="button button-positive button-block">Buy</button>
  </ion-content>
</ion-view>