<ion-view title="Doctor Advice" id="page9">
  <ion-content padding="true" class="has-header" style="background: url('../img/G2.png')">
    <div class="list card">

      <div class="item">
        <p style="color:#000000;">Once a week we invite doctors to talk about <br>health, diseases, medications and counseling,<br> in online video format and chat to answer
          <br> questions.
        </p>
      </div>

      <div class="item item-body">
        <img src="img/uHPoWi5LTquGuB0QugcX_ng5632213.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        <div  style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Next Live Stream</p>

          <p style="color:#000000;">Doctor: Gregory House</p>

        </div>

        <p style="color:#000000;">Date: 01/01/2017</p>
        <p style="color:#000000;">Theme: lupus</p>

      </div>

    </div>
  </ion-content>
</ion-view>