<ion-view title="Doctor Advice" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="doctorAdvice-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Once a week we invite doctors to talk about health, diseases, medications and counseling, in online video format and chat to answer questions.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <h1 id="doctorAdvice-heading9" style="color:#000000;font-weight:lighter;"></h1>
    <div>
      <img src="img/uHPoWi5LTquGuB0QugcX_ng5632213.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="doctorAdvice-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Next Live Stream</p>

      <p style="color:#000000;">Doctor: Gregory House</p>

      <p style="color:#000000;">Theme: lupus</p>

      <p style="color:#000000;">Date: 01/01/2017</p>
    </div>
  </ion-content>
</ion-view>