<ion-view title="Leaflet Medication" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="leafletMedication-form3" class="list">
      <label class="item item-input" id="leafletMedication-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item9">
        <h2calm>Item</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item28">
        <h2calm>Item</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item29">
        <h2calm>Item</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item30">
        <h2calm>Item</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item31">
        <h2calm>Item</h2calm>
      </ion-item>
      <ion-item class="item-avatar calm" id="leafletMedication-list-item32">
        <h2calm>Item</h2calm>
      </ion-item>
    </form>
  </ion-content>
</ion-view>