<ion-view title="Login" hide-nav-bar="true" nav-transition="none" id="page5">
  <ion-content padding="true" style="background: url(img/rCJHsbjXTUGmS2ZtZ5sG_1f2337b7ed412daf44d3c5a8eca8dc06.gif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form1" class="list">
      <div>
        <img src="img/gbxxE4RYTB68dHl1yh5C_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="login-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">The easiest way to have your remedy</p>
      </div>
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="email">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="senha">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <a ui-sref="welcome()" id="login-button2" class="button button-positive button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button3" class="button button-light button-block button-clear">Create Account </a>
      <div id="login-button-bar1" class="button-bar">
        <button id="login-button7" style="font-weight:lighter;" class="button button-positive button-block icon ion-social-facebook"></button>
        <button id="login-button9" class="button button-assertive button-block icon ion-social-google"></button>
      </div>
      <div>
        <img src="img/yOgb81Syyap7kk88xPaQ_Logo_der_Bayer_AG.png" style="display: block; width: 13%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
  </ion-content>
</ion-view>