<ion-view title="Profile Product" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="profileProduct-heading1" style="color:#000000;font-weight:lighter;text-align:center;">Name Product</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="profileProduct-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Description Product</p>
    </div>
    <div id="profileProduct-button-bar2" class="button-bar">
      <a ui-sref="tabsController.leafletMedication()" id="profileProduct-button14" style="font-weight:lighter;" class="button button-balanced button-block icon-left ion-leaf">Leaflet</a>
      <button id="profileProduct-button15" class="button button-calm button-block icon-left ion-ios-cart">Add to Cart</button>
    </div>
    <button id="profileProduct-button17" class="button button-positive button-block icon-left ion-card">Buy Now</button>
  </ion-content>
</ion-view>