<ion-view title="Welcome" id="page12">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="welcome-slider2" style="width:calc(100% + 20px);height:;margin-left:-10px;">
      <ion-slide-page id="welcome-slide210" style="background:url(&quot;img/50KGi7ELSUaxMWBiV7Ai_usenow.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="welcome-heading5" style="color:#000000;font-weight:lighter;text-align:center;">Welcome Imed</h1>
        <div id="welcome-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Imed is a drug order application facilitating the process between pharmacies, drugstores and users.</p>
        </div>
        <div id="welcome-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Choose a Pharma or Drugstore</strong>
          </p>

          <p style="color:#000000;">
            <strong>Choose a Product</strong>
          </p>
        </div>
        <div class="spacer" style="width: 320px; height: 234px;"></div>
        <div id="welcome-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Drag to next slide</p>
        </div>
        <a ui-sref="tabsController.drugstore()" id="welcome-button23" style="font-weight:lighter;" class="button button-positive button-small">Skip Tutorial!</a>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide211" style="background:url(&quot;img/hQQaRXbUSyi8VDNw0hgQ_drugstore.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="welcome-heading6" style="color:#000000;font-weight:lighter;text-align:center;">Drugstore or Pharma</h1>
        <div id="welcome-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">The establishment will evaluate if the product is available, if it is possible to make the delivery and send the product value to you.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide212" style="background:url(&quot;img/DbBgS34rTJuGhe2Sj4Kh_entrega1.jpg&quot;) no-repeat center;background-size:cover;">
        <h1 id="welcome-heading7" style="color:#000000;font-weight:lighter;text-align:center;">Delivery</h1>
        <div id="welcome-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">You can choose the way of payment money, credit card or make payment through the application.</p>
        </div>
        <div id="welcome-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Now just wait in your house that your order will be delivered in minutes.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 221px;"></div>
        <a ui-sref="tabsController.drugstore()" id="welcome-button21" class="button button-positive button-block icon-left ion-android-arrow-dropright-circle">Lets Start!</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>